<h1>Kategorie</h1>
<button *ngIf="authService.isModeratorLoggedIn()" class="create-button" routerLink="new">Dodaj kategorię</button>
<div class="table-body">
  <table class="table-table">
    <tbody>
    <tr *ngFor="let category of categories">
      <td>
        {{category.name}}<br>
        {{category.description}}
      </td>
      <td>
        <button *ngIf="authService.isModeratorLoggedIn()" class="admin-panel-button" routerLink="new">Edytuj</button>
        <button *ngIf="authService.isModeratorLoggedIn()" class="admin-panel-button" routerLink="new">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
