<h1>New Category</h1>
<form
  #f="ngForm"
  (ngSubmit)="f.form.valid && onSubmit()"
  class="box"
  name="form"
  novalidate
>
  <div class="form-group">
    <label for="categoryName"></label>
    <input
      #categoryName="ngModel"
      [(ngModel)]="form.categoryName"
      class="form-control"
      name="categoryName"
      placeholder="Nazwa kategorii"
      required
      type="text"
    />
    <div
      *ngIf="f.submitted && categoryName.invalid"
      class="alert alert-danger"
      role="alert"
    >
      Nazwa kategorii jest wymagana!
    </div>
  </div>
  <div class="form-group">
    <label for="categoryDescription"></label>
    <input
      #categoryDescription="ngModel"
      [(ngModel)]="form.categoryDescription"
      class="form-control"
      name="categoryDescription"
      placeholder="Opis kategorii"
      type="text"
    />
    <div
      *ngIf="f.submitted && form.invalid"
      class="alert alert-danger"
      role="alert"
    >
      <div *ngIf="form.categoryDescription.errors.required">aaaaaaaaa</div>
    </div>
  </div>
  <div class="form-group">
    <input name="" type="submit" value="Create">
    <input name="" routerLink="/categories" value="Cancel">
  </div>
  <!--  <div class="form-group">-->
  <!--    <div-->
  <!--      class="alert alert-danger"-->
  <!--      role="alert"-->
  <!--      *ngIf="f.submitted && isLoginFailed"-->
  <!--    >-->
  <!--      Błąd logowania: {{ errorMessage }}-->
  <!--    </div>-->
  <!--  </div>-->
</form>
