<html lang="pl">
<meta charset="UTF-8">
<body>

<div class="page">

  <!-- Navbar -->
  <div class="navbar">
    <div class="navbar_left">
      <a href="home" class="menu-button left">STRONA GŁÓWNA</a>
    </div>
    <div class="navbar_right">
      <a (click)="logout()" class="menu-button right" *ngIf="isLoggedIn">WYLOGUJ</a>
      <a routerLink="login" class="menu-button right" *ngIf="!isLoggedIn">LOGOWANIE</a>
      <a routerLink="register" class="menu-button right" *ngIf="!isLoggedIn">REJESTRACJA</a>
      <a routerLink="admin_panel" class="menu-button right" *ngIf="adminLogged">PANEL ADMINISTRATORA</a>
      <a routerLink="posts_pended" class="menu-button right" *ngIf="adminLogged || moderatorLogged">POSTY OCZEKUJĄCE</a>
      <a class="menu-button right" *ngIf="isLoggedIn">{{ username }}</a>
    </div>
  </div>

  <!-- Content -->
  <div class="main">
    <div class="main-conent">
      <router-outlet></router-outlet>
    </div>
  </div>


  <!-- Footer -->
  <div class="footer">
    <nav class="coppyrights">Copyrights 2020 Łatwy Ten 6 Semestr</nav>
    <div class="icons">
      <a href="#" class="fb"><i class="fab fa-facebook"></i></a>
      <a href="#" class="tw"><i class="fab fa-twitter-square"></i></a>
      <a href="#" class="in"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

</div>

</body>
</html>

