<!-- wyświetlanie postów -->
<div>
    <h2>{{post.title}}</h2>
    <div>
        <p>{{post.author}}</p>
        <p>{{post.postedDate | postedDate}}</p>
    </div>
    <div>
        <p>{{post.text}}</p>
    </div>
    <div>
        <button>EDYTUJ</button>
        <button>ZGŁOŚ</button>
        <button *ngIf="tokenService.getUser().id == post.author.id" (click)="delete()">USUŃ</button>
        <button *ngIf="tokenService.getUser().id == post.author.id && 
                !post.isObserved && 
                tokenService.getUser().role.name > 1" 
                (click)="changeIsObserved(true)">OBSERWUJ</button>
        <button *ngIf="tokenService.getUser().id == post.author.id && 
                post.isObserved && 
                tokenService.getUser().role.name > 1" 
                (click)="changeIsObserved(false)">PRZESTAŃ OBSERWOWAĆ</button>
    </div>
</div>

<!-- wstawianie reply -->
<div>
    <form (ngSubmit)="reply()" name="form" #f="ngForm" novalidate> 
        <input type="text" name="text"/>
        <input type="submit" value="Odpowiedz"/>
    </form>
</div>

<!-- wyświetlanie reply -->
<div *ngFor="let r in replies">
    <reply [object]="{reply: r, post: post}"></reply>
</div>
