<!-- wyświetlanie postów -->
<div>
  <div *ngIf="!editing">
    <h3>{{post.title}}</h3>
    <div *ngIf="post.author">
      <p>{{post.author.username}}</p>
      <p>{{post.postedDate | getFromDate}}</p>
    </div>
    <div>
      <p>{{post.text}}</p>
    </div>

    <div>
      <!-- <div *ngIf="tokenService.getUser().id == post.author.id">
          <button (click)="editPost()">EDYTUJ</button>
      </div> -->

      <!-- <div *ngIf="reporting = != reporting">
          <button>ZGŁOŚ</button>
      </div> -->
      <!-- <div *ngIf="tokenService.getUser().id == post.author.id">
          <button (click)="delete()">USUŃ</button>
      </div>
      <div *ngIf="tokenService.getUser().id == post.author.id &&
      !post.isObserved &&
      tokenService.getUser().role.name > 1" >
          <button (click)="changeIsObserved(true)">OBSERWUJ</button>
      </div>
      <div *ngIf="tokenService.getUser().id == post.author.id &&
      post.isObserved &&
      tokenService.getUser().role.name > 1">
          <button (click)="changeIsObserved(false)">PRZESTAŃ OBSERWOWAĆ</button>
      </div>-->
    </div>
  </div>

  <div *ngIf="editing">
    <form #f="ngForm" (ngSubmit)="edit()" name="editForm" novalidate>
      <input ([ngModel])="editForm.text" type="text" value="{{post.text}}"/>
      <input type="submit" value="Zatwierdź"/>
    </form>
    <button (click)="editing = false">Anuluj</button>
  </div>

</div>

<div *ngIf="reporting">
  <form>
    <input type="text"/>
    <input name="" type="submit" value="Wyślij">
  </form>
</div>

<!-- wstawianie reply -->
<div *ngIf="isLoggedIn()">
  <form #f="ngForm" (ngSubmit)="reply()" name="form" novalidate>
    <input [(ngModel)]="form.text" name="text" type="text"/>
    <input type="submit" value="Odpowiedz"/>
  </form>
</div>

<!-- wyświetlanie reply -->
<div *ngFor="let r of replies">
  <app-reply [object]="{reply: r, post: post}"></app-reply>
</div>
