.box {
  display: flex;
  flex-direction: column;
}

.box h1 {
  text-align: left;
  margin-bottom: 40px;
}

.box div {
  align-content: flex-start;
}

#title {
  height: 30px;
}

#text {
  height: 200px;
}

#text, #title {
  width: 100%;
  margin-bottom: 20px;
}

.admin-panel-button {
  width: 100px;
  height: 50px;
  margin: auto;
}

.alerts div{
  margin-top: 10px;
}
