<!-- <div class="actual-post">
    <div *ngFor="let post of posty" class="post-container">
      <div  class="post-content">
        <h3 [routerLink]="['/post', post.id]">{{post.title}}</h3>
        <p>{{post.text | postSummary}}</p>
        <button (click)="delete(post.id)">Usuń</button>
        <button [routerLink]="['/edytujPost', post.id]">Edytuj</button>
      </div>
    </div>
    <div class="optionbuttons">
      <button routerLink="/dodajPost">Dodaj post</button>
      <button (click)="refreshData()">Odśwież</button>
    </div>
</div> -->
<p>categories działa</p>