<div class="nav">
  <h1>Posty oczekujące:</h1>
</div>

<div class="table-body">
  <table class="table-table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Author</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Status</th>
      <th scope="col">Posted Date</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.author.username }}</td>
      <td>{{ post.category.name }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.text }}</td>
      <td>{{ post.status }}</td>
      <td>{{ post.postedDate }}</td>
      <td>
        <button (click)="accept(post)">Akceptuj</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
