<div *ngIf="!isLoggedIn">
  <form
    class="box"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <h1>Logowanie</h1>
    <div class="form-group">
      <label for="username"></label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Nazwa użytkownika"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && username.invalid"
      >
        Nazwa użytkownika jest wymagana
      </div>
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Hasło"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && password.invalid"
      >
        <div *ngIf="password.errors.required">Hasło jest wymagane</div>
        <div *ngIf="password.errors.minlength">
          Hasło musi mieć przynajmniej 6 znaków
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" name="" value="Zaloguj">
    </div>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && isLoginFailed"
      >
        Błąd logowania: {{ errorMessage }}
      </div>
    </div>
  </form>
</div>


<div class="alert alert-success" *ngIf="isLoggedIn">
  Zalogowany jako {{ roles }}.
</div>
